.forgot-wrapper {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--primary-green),
    var(--secondary-green),
    var(--dark-blue)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-box {
  width: 850px;
  height: 420px;
  background: var(--bg-light);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0,0,0,0.3);
}

.forgot-form {
  flex: 1;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.forgot-logo {
  width: 220px;
  margin: 0 auto 15px;
}

.forgot-form h2 {
  color: var(--primary-green);
  margin-bottom: 10px;
}

.forgot-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.forgot-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1.5px solid #ddd;
}

.forgot-form button {
  padding: 13px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    var(--secondary-green),
    var(--primary-green)
  );
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.forgot-back {
  margin-top: 18px;
  font-size: 14px;
  color: var(--secondary-green);
  cursor: pointer;
}

.forgot-visual {
  flex: 1;
  background: linear-gradient(
    135deg,
    var(--dark-blue),
    var(--primary-green),
    var(--secondary-green)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.forgot-visual h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.forgot-error {
  color: #e63946;
  font-size: 14px;
}

.forgot-success {
  color: #2a9d8f;
  font-size: 14px;
}
