/* ===============================
   SECCIÓN MASCOTAS
=================================*/
.mascotas-section {
  margin-top: 80px;
  width: 90%;
  max-width: 1300px;
  text-align: center;
}

/* TÍTULO */
.mascotas-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-dark);
}

.mascotas-line {
  width: 70px;
  height: 4px;
  background-color: var(--primary-green);
  margin: 12px auto 45px;
  border-radius: 10px;
}


.mascotas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

.mascota-card {
  position: relative;
  height: 360px;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mascota-card:hover {
  transform: translateY(-8px);
}

/* IMAGEN */
.mascota-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mascota-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  opacity: 0;
  transform: translateY(15px);
  transition: 0.35s ease;
}

.mascota-card:hover .mascota-overlay {
  opacity: 1;
  transform: translateY(0);
}

.mascota-overlay h3 {
  font-size: 26px;
  margin-bottom: 12px;
}

.mascota-overlay p {
  font-size: 15px;
  margin: 4px 0;
}

.descripcion {
  font-size: 14px;
  margin: 12px 0 18px;
  opacity: 0.9;
}

.btn-adoptar {
  padding: 10px 22px;
  background-color: var(--primary-green);
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-adoptar:hover {
  background-color: var(--secondary-green);
}
